<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#add-team-modal" href="/add-a-team">Nieuw Team</a>
    </li>
</ul>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welkom bij de TeamTaken app</h1>
        <p class="lead">Een simpele plek om al je team taken te managen</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/teams" role="button">Teams</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-header">
                    Nieuwe gebruikers
                </div>
                <div class="card-body">
                    {{#if newUsers}}
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {{#each newUsers}}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        {{this.firstname}} {{this.lastname}}
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-light" data-toggle="modal"
                                            data-target="#exampleModal" data-user-id={{this._id}}>
                                            Voeg toe aan een team
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                            {{else}}
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <p>Er zijn geen nieuwe gebruikers</p>
                                </div>
                            </div>
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> add-to-team-modal}}

{{>add-team-modal}}