<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TeamTaken</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-sm-10 ">
            <div class="row align-items-center">
                {{#if teamCaptain}}
                <div clas="col-sm-6">
                    <li>
                        <span data-toggle="tooltip" data-placement="top" title="Team aanvoerder" class="fa-stack fa-sm ">
                            <i class="fas fa-square fa-stack-2x"></i>
                            <i class="fab fa-cuttlefish fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                </div>
                {{/if}}
                <div class="col-sm-6">
                    <li class="nav-item active">
                        <a href="/auth/logout" class="btn btn-secondary">Logout</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</nav>