{{#if team}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Welkom bij de teamtaken app</h2>
        </div>
    </div>
</div>
{{else}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Helaas, je bent nog niet toegevoegd aan een team.</h2>
        </div>
    </div>
</div>
{{/if}}