<div class=" center page-wrap d-flex flex-row align-items-center">
    <div class=" center container">
        <div class=" center row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">De pagina die je zocht is niet gevonden</div>
                <a href="/" class="btn btn-link">Terug naar Login</a>
            </div>
        </div>
    </div>
</div>