{{> nav}}

{{>messages}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/teams/team">Mijn team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Mijn Profiel</a>
    </li>
    {{#if teamCaptain}}
    <li class="nav-item">
        <a class="nav-link" href="/tasks/add-a-task">Taak aanmaken</a>
    </li>
    {{/if}}
</ul>

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            Nieuwe taak aanmaken
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <!-- Date input -->
                    <label class="control-label" for="date">Date</label>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end mr-1">
                <button class="btn btn-primary" type="submit">Opslaan</button>
            </div>
        </div>
    </div>
</div>