<div class="container"> 
    <div class=" center row align-items-center justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <form class="form-login" method="post" action="/auth/login" enctype="application/json">
                        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                        {{> messages}}
                        {{succes_msg}}
                        <input type="email" id="inputEmail" name="email" class="form-control mb-2" placeholder="Email adres"
                            required autofocus>
                        <input type="password" id="inputPassword" name="password" class="form-control mb-2" 
                            placeholder="Wachtwoord" required>
                        <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Login</button>
                        <a href="/auth/register">Registreren</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>