{{> nav}}

{{>messages}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/teams">Teams</a>
    </li>
</ul>

<div class="container">
    <div class="row ">
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-header">
                    {{team.name}}
                </div>
                <div class="card-body">
                    {{#if team.members}}
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {{#each team.members}}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        {{this.firstname}} {{this.lastname}}
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-dark">
                                            edit
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            delete
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                            {{else}}
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <p>dit team heeft nog geen spelers</p>
                                </div>
                            </div>
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>